/* SECTION TWO */

/* Keep text within area */
main  *:not(:first-child){
  font-size: 1.8rem;
  max-width: 80vw;
}

main > article:not(:first-child){
  display: inline-block;
}

main p {
  padding: 30px;
}

details {
  padding: 5px;
  margin-top: 20px;
  border: 5px solid #274c77;
  border-radius: 1rem;
  max-height: 150px;
  transition: 1s;
  overflow: hidden;
}

details[open] {
  transition: 1s;
  background-color: #a3cef166;
  max-height:600px;
}

details:hover {
  cursor: pointer; 
  background-color: #a3cef166;
}

details summary {
  list-style-type: '🖱️';
  text-align: center;
  position: relative;
}


ul {
  list-style-type: '😎';
  columns: 2;
  cursor:auto;
}

li {
  padding: 10px;
}

main > img {
  width: 40vw;
  margin: 20px;
  border-radius: 1rem;
}

/* Main advertising section */
main > article {
  background-color: #274c77;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  height: 10vh;
  padding: 30px;
  text-align: center;
}

main * {
  text-align: left;
}