/* General Styling */
html{
  scroll-behavior:smooth;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  text-align: center;
}

body > * {
  height: 100vh;
  overflow-y: hidden;
}


/* SECTION ONE */
/* Hero Section Background */
header{
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

header > * {
  max-width: 90%;
}

header img {
  background-color: white;
  border: 5px solid #274c77;
  border-radius: 1rem;
  margin-top: 10px;
  max-height: 17.5vh;
}

header > *:not(:first-child){
  position: relative;
  top: 55vh;
}

/* Link Styling */
nav a{
  /* Positioning */
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: fit-content;

  /* Styling */
  background-color: #274c77;
  border: 5px solid #274c77;
  border-radius: 1rem;
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

nav a:first-child::after{
  content: 'Specialists in optical solutions for children';
}

nav a:last-child::after{
  content: 'Contact us today';
}

nav a:hover{
  background-color: #6096ba;
  color: white;
}

nav a:focus{
  background-color: #274c77;
  color: white;
}

nav a img {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 50px;
}

/* Intro Text */
body > :first-child h2{
  background-color: #274c77;
  border-radius: 1rem;
  color: white;
  
  font-size: 1.5rem;
  font-weight: bolder;
  
  padding: 10px;
  margin: 30px auto;
}

/* SECTION TWO */
main{
  max-width: 80%;
}

main * {
  text-align: left;
}

/* SECTION THREE */
/* Section Background */
body > section {
  background-image: url('../images/footer-bg.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;

  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Lighter background opacity for all sections except the footer */
body > section > article{
  background-color: #274c77bb;
  height: 95vh;
}

/* Contact Logos */
body > section > article > a > img:not(footer img) {
  width: 64px;
  padding-bottom: 80px;
  margin: 10px;
}

body > section > article > :first-child > :first-child{
  margin-right: -5px;
}


/* Trading Hours */
body > section p {
  text-align: left;
  max-width: 700px;
  line-height: 2.2;
  font-size: 1.3rem;
}

body > section :nth-child(9) {
  padding-top: 30px;
}

/* Google Maps */
body > section iframe {
  height: 40%;
  width: 700px;
  border-radius: 1rem;
  border: 5px solid #274c77;
}

/* Footer */
footer {
  background-color: #274c77;
  height: 6vh;
  color: white;
}

footer > * {
  display: inline;
  padding-left:50px;
  position: relative;
}

footer :last-child {
  width: 40px;
  position: relative;
  left: 15%;
  top: 15%;
}
